/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px){
	
}///media
@media (min-width:481px) and (max-width:767px){
}///media
@media (min-width:768px) and (max-width:991px){
 html {
 	font-size: 8px;
 }
 .first-pay {
 	p {
 		text-align: center;
 		display: block;
 	}
 	h2 {
 		display: block !important;
 		text-align: center !important;
 		margin-top: -10px !important;
 	}
 	.site-btn-red {
 		display: block !important;
 		text-align: center !important;
 		margin: 0px auto !important;
 		margin-top: -10px !important;
 	}
 	.btn {
 		display: block;
 	}
 	.site-btn-green-o{
		padding: 1.5rem 2rem !important;
 	}
 	.site-btn-red-o{
		padding: 1.5rem 2.7rem !important;
 	}
 }
 .line {
		width: 100% !important;
	}
	section#main {
		.main-container {
			width: 100%;
		}
		.main-h1 {
			width: 80%;
		}
		.second-column {
			.more-add {
				margin-left: 0 !important;
				p {
					width: 95% !important;
				}
			}
			width: 65% !important;
			min-width: 450px;
			.discuss-inf {
				width: 100% !important;
				position: relative !important;
			}
			.add-inf {
				border-top : none !important;
			}
			.discuss-form {
				input {
					width: 40vw !important;
				}
			}
			.candidates-inf {
				.line {
					width: 104% !important;
				}
			}
			.discuss-all {
				.line {
					width: 102% !important
				}
			}
			.discuss-write {
				.line {
					width: 105% !important
				}
			}
		}
		.third-column {
			display: none;
		}
	}//main
	.four-column {
		justify-content: center;
		margin-top: 350px;
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		.poster {
			margin: 10px;
		}
	}
}//media
@media (min-width: 992px) and (max-width: 1099px) {
	.line {
		width: 100% !important;
	}
	section#main {
		.main-container {
			width: 100%;
		}
		.main-h1 {
			width: 83%;
		}
		.second-column {
			width: 65% !important;
			.discuss-inf {
				width: 100% !important;
			}
			.discuss-form {
				input {
					width: 40vw !important;
				}
			}
			.candidates-inf {
				.line {
					width: 104% !important;
				}
			}
			.discuss-all {
				.line {
					width: 102% !important
				}
			}
			.discuss-write {
				.line {
					width: 105% !important
				}
			}
		}
		.third-column {
			display: none;
		}
	}//main
	.four-column {
		justify-content: center;
		margin-top: 350px;
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		.poster {
			margin: 10px;
		}
	}
}//1099
@media (min-width: 1100px) and (max-width: 1199px){
	.line {
		width: 100% !important;
	}
	section#main {
		.main-container {
			width: 100%;
		}
		.main-h1 {
			width: 86%;
		}
		.second-column {
			width: 70% !important;
			.discuss-inf {
				width: 100% !important;
			}
			.discuss-form {
				input {
					width: 40vw !important;
				}
			}
			.candidates-inf {
				.line {
					width: 104% !important;
				}
			}
			.discuss-all {
				.line {
					width: 102% !important
				}
			}
			.discuss-write {
				.line {
					width: 105% !important
				}
			}
		}
		.third-column {
			display: none;
		}
	}//main
	.four-column {
		justify-content: center;
		margin-top: 350px;
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		.poster {
			margin: 10px;
		}
	}
}//media992
@media (min-width: 1200px) and (max-width: 1350px){
	.line {
		width: 100% !important;
	}
	section#main {
		.main-container {
			width: 100%;
		}
		.main-h1 {
			width: 87%;
		}
		.second-column {
			width: 72% !important;
			.discuss-inf {
				width: 100% !important;
			}
			.discuss-form {
				input {
					width: 50vw !important;
				}
			}
			.discuss-all {
				.line {
					width: 102% !important
				}
			}
			.discuss-write {
				.line {
					width: 105% !important
				}
			}
		}
		.third-column {
			display: none;
		}
	}//main
	.four-column {
		justify-content: center;
		margin-top: 350px;
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		.poster {
			margin: 10px;
		}
	}
}//media




