/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px){
		html {
		font-size: 7px;
	}
}//media
@media (min-width:481px) and (max-width:767px){
	html {
		font-size: 7px;
	}
	section#nav {
		height: 300px;
		ul {
			text-align: center;
			padding-left: 0;
		}
		ul li {
			display: block;
			padding-left:0px;
		}
		.come {
			text-align: center;
			i {
				display: none;
			}
		}
	}
	section#main {
		.main-inf {
			margin: 0 auto;
		}
	}

}//media
@media (min-width:768px) and (max-width:991px){
	html {
		font-size: 8px;
}//media

@media (min-width: 992px) and (max-width: 1199px){
}//media




