/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px) {
  html {
    font-size: 7px;
  }
  section#main .nav {
    padding-top: 8px;
  }
  section#main .nav ul {
    padding: 0px;
  }
  section#main .nav ul li {
    text-align: center;
    display: block;
    padding-top: 1rem;
  }
  section#main .nav a {
    font-size: 2rem;
    padding-left: 0;
  }
  section#main .nav i {
    display: none;
  }
  section#main .main-h1 h1 {
    display: inline-block;
    width: 60vw;
    margin-left: 20px;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-container .first-column {
    width: 100%;
  }
  section#main .main-container .first-column .first-user {
    margin-left: 15px;
    width: 96%;
  }
  section#main .main-container .first-column .data {
    width: 96%;
    margin-left: 15px;
  }
  section#main .main-container .first-column .first-pay p {
    text-align: center;
    display: block;
  }
  section#main .main-container .first-column .first-pay h2 {
    display: block !important;
    text-align: center !important;
    margin-top: -10px !important;
  }
  section#main .main-container .first-column .first-pay .site-btn-red {
    display: block !important;
    text-align: center !important;
    margin: 0px auto !important;
    margin-top: -10px !important;
  }
  section#main .main-container .first-column .first-pay .btn {
    display: block;
  }
  section#main .main-container .first-column .first-pay .site-btn-green-o {
    padding: 1.5rem 2rem !important;
  }
  section#main .main-container .first-column .first-pay .site-btn-red-o {
    padding: 1.5rem 2.7rem !important;
  }
  section#main .main-container .second-column {
    margin-top: 2rem;
    margin-left: 15px;
    width: 96%;
  }
  section#main .main-container .second-column p {
    width: 60vw !important;
  }
  section#main .main-container .second-column .discuss-form input {
    width: 55vw !important;
  }
  section#main .main-container .second-column .more-add {
    position: relative !important;
    left: 0;
  }
  section#main .main-container .second-column .more-add p {
    width: 60vw;
  }
  section#main .main-container .second-column .write-more {
    margin-top: 40px;
  }
  section#main .main-container .second-column .add-inf {
    width: 100%;
  }
  section#main .main-container .second-column .discuss-inf .line {
    width: 105%;
  }
  section#main .main-container .second-column .discuss-all .line {
    width: 103%;
  }
  section#main .main-container .second-column .discuss-write .line {
    width: 106%;
  }
  section#main .main-container .second-column .refregerator p {
    width: 80vw !important;
  }
  section#main .main-container .third-column {
    display: none;
  }
  section#main .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  section#main .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  section#main .nav {
    padding-top: 8px;
  }
  section#main .nav ul {
    padding: 0px;
  }
  section#main .nav ul li {
    text-align: center;
    display: block;
    padding-top: 1rem;
  }
  section#main .nav a {
    font-size: 2rem;
    padding-left: 0;
  }
  section#main .nav i {
    display: none;
  }
  section#main .main-h1 h1 {
    display: inline-block;
    width: 60vw;
    margin-left: 20px;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-container .first-column {
    width: 100%;
  }
  section#main .main-container .first-column .first-user {
    margin-left: 15px;
    width: 96%;
  }
  section#main .main-container .first-column .data {
    width: 96%;
    margin-left: 15px;
  }
  section#main .main-container .first-column .first-pay p {
    text-align: center;
    display: block;
  }
  section#main .main-container .first-column .first-pay h2 {
    display: block !important;
    text-align: center !important;
    margin-top: -10px !important;
  }
  section#main .main-container .first-column .first-pay .site-btn-red {
    display: block !important;
    text-align: center !important;
    margin: 0px auto !important;
    margin-top: -10px !important;
  }
  section#main .main-container .first-column .first-pay .btn {
    display: block;
  }
  section#main .main-container .first-column .first-pay .site-btn-green-o {
    padding: 1.5rem 2rem !important;
  }
  section#main .main-container .first-column .first-pay .site-btn-red-o {
    padding: 1.5rem 2.7rem !important;
  }
  section#main .main-container .second-column {
    margin-top: 2rem;
    margin-left: 15px;
    width: 96%;
  }
  section#main .main-container .second-column p {
    width: 60vw !important;
  }
  section#main .main-container .second-column .discuss-form input {
    width: 55vw !important;
  }
  section#main .main-container .second-column .more-add {
    position: relative !important;
    left: 0;
  }
  section#main .main-container .second-column .more-add p {
    width: 60vw;
  }
  section#main .main-container .second-column .write-more {
    margin-top: 40px;
  }
  section#main .main-container .second-column .add-inf {
    width: 100%;
  }
  section#main .main-container .second-column .discuss-inf .line {
    width: 105%;
  }
  section#main .main-container .second-column .discuss-all .line {
    width: 103%;
  }
  section#main .main-container .second-column .discuss-write .line {
    width: 106%;
  }
  section#main .main-container .second-column .refregerator p {
    width: 80vw !important;
  }
  section#main .main-container .third-column {
    display: none;
  }
  section#main .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  section#main .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 8px;
  }
  .first-pay p {
    text-align: center;
    display: block;
  }
  .first-pay h2 {
    display: block !important;
    text-align: center !important;
    margin-top: -10px !important;
  }
  .first-pay .site-btn-red {
    display: block !important;
    text-align: center !important;
    margin: 0px auto !important;
    margin-top: -10px !important;
  }
  .first-pay .btn {
    display: block;
  }
  .first-pay .site-btn-green-o {
    padding: 1.5rem 2rem !important;
  }
  .first-pay .site-btn-red-o {
    padding: 1.5rem 2.7rem !important;
  }
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 80%;
  }
  section#main .second-column {
    width: 65% !important;
    min-width: 450px;
  }
  section#main .second-column .more-add {
    margin-left: 0 !important;
  }
  section#main .second-column .more-add p {
    width: 95% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
    position: relative !important;
  }
  section#main .second-column .add-inf {
    border-top: none !important;
  }
  section#main .second-column .discuss-form input {
    width: 40vw !important;
  }
  section#main .second-column .candidates-inf .line {
    width: 104% !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 83%;
  }
  section#main .second-column {
    width: 65% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 40vw !important;
  }
  section#main .second-column .candidates-inf .line {
    width: 104% !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 86%;
  }
  section#main .second-column {
    width: 70% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 40vw !important;
  }
  section#main .second-column .candidates-inf .line {
    width: 104% !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 87%;
  }
  section#main .second-column {
    width: 72% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 50vw !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
