@charset "UTF-8";
/*===============Шрифты=============================== */
.italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.semiBold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
html {
  overflow-x: hidden;
  font-size: 10px;
}
body button {
  outline: none;
}
body a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #8d8b8b;
  text-decoration: none;
}
body a:hover {
  color: #333333;
  text-decoration: none;
  text-decoration: underline;
}
body a:focus {
  outline: none;
}
h2 {
  font-size: 2rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.line {
  background-color: #e4eafa;
  height: 1px;
  display: block;
  width: 100%;
  margin-top: 15px;
}
h3 {
  font-size: 1.8rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
h4 {
  font-size: 1.6rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
h5 {
  font-size: 1.4rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
p {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  line-height: 1.29;
}
section#main {
  margin-top: -13px;
  background-color: #f5f5f5;
}
section#main .nav {
  padding-top: 8px;
}
section#main .nav ul {
  padding: 0px;
}
section#main .nav ul li {
  list-style-type: none;
  display: inline-block;
}
section#main .nav a {
  padding-left: 10px;
}
section#main .nav .imp {
  padding-left: 0;
}
section#main .nav i {
  padding-left: 5px;
  font-size: 1.8rem;
}
section#main .main-h1 {
  display: inline-block;
}
section#main .main-h1 h1 {
  width: 800px;
  display: inline-block;
  margin-top: -7px;
  color: #5faf00;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}
section#main .share {
  margin-left: 18px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 10px;
}
section#main .share button {
  border: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #f0a029;
}
section#main .share button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
section#main .share button .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#main .share button:hover {
  background: #f2ab41;
}
section#main .share span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1px 6rem;
  margin-left: 10px;
}
section#main .main-container {
  width: 106%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
section#main .main-container .first-column {
  width: 30rem;
}
section#main .main-container .first-user {
  border: 1px solid #e8edfa;
  width: 30rem;
  height: 35rem;
  background-color: #fff;
}
section#main .main-container .first-user h2 {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 18px;
  text-align: center;
}
section#main .main-container .first-user img {
  display: block;
  margin: 0 auto;
  width: 13rem;
  height: 13rem;
}
section#main .main-container .first-user span {
  padding-top: 16px;
  color: #8d8b8b;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin: 0 auto;
  text-align: center;
}
section#main .main-container .first-user a {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
section#main .main-container .first-user a:hover {
  text-decoration: none;
  color: #7F7B7B;
}
section#main .main-container .data {
  border: 1px solid #e8edfa;
  width: 30rem;
  height: 35rem;
  background-color: #fff;
  margin-top: 20px;
}
section#main .main-container .data .data-finish {
  padding-top: 40px;
}
section#main .main-container .data h3 {
  padding-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
section#main .main-container .data span {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: #e83e00;
}
section#main .main-container .data i {
  font-size: 2.2rem;
}
section#main .main-container .data p {
  text-align: center;
  font-size: 1.6rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
section#main .main-container .first-pay {
  margin-top: 30px;
}
section#main .main-container .first-pay p {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333;
}
section#main .main-container .first-pay h2 {
  display: inline-block;
  color: #5faf00;
  font-size: 3.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: -20px;
}
section#main .main-container .first-pay .site-btn-red {
  border: none;
}
section#main .main-container .first-pay .btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
section#main .main-container .first-pay .site-btn-yellow-o {
  padding: 1.5rem 4.7rem;
}
section#main .main-container .first-pay .site-btn-green-o {
  padding: 1.5rem 2.8rem;
}
section#main .main-container .first-pay .site-btn-red-o {
  padding: 1.5rem 3.1rem;
}
section#main .main-container .second-column {
  margin-left: 21px;
  width: 62rem;
}
section#main .main-container .refregerator {
  border: 1px solid #e8edfa;
  background-color: #fff;
  height: 30rem;
}
section#main .main-container .refregerator h2 {
  font-size: 2rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: auto;
  padding-top: 33px;
  padding-left: 20px;
}
section#main .main-container .refregerator h5 {
  padding-left: 20px;
}
section#main .main-container .refregerator p {
  margin-top: -14px;
  line-height: 1.43;
  padding-left: 20px;
}
section#main .main-container .slider {
  border: 1px solid #e8edfa;
  padding-left: 20px;
  margin-top: 10px;
  height: 270px;
  background-color: #fff;
}
section#main .main-container .slider p {
  display: inline-block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333333;
}
section#main .main-container .slider a {
  cursor: pointer;
  padding-right: 21px;
  padding-top: 13px;
  float: right;
  font-size: 14px;
  font-weight: 600;
  color: #5faf00;
}
section#main .main-container .slider a:hover {
  color: #57ED39;
}
section#main .main-container .slider .slick .item {
  outline: none;
}
section#main .main-container .candidates {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 199px;
  border: 1px solid #e8edfa;
}
section#main .main-container .candidates .candidates-inf p {
  margin-top: 0px;
  display: inline-block;
  font-size: 18px;
  color: #333;
}
section#main .main-container .candidates .candidates-inf .line {
  width: 104%;
}
section#main .main-container .candidates .candidates-inf span {
  margin-left: -20px;
}
section#main .main-container .candidates .candidates-inf .site-btn-green {
  outline: none;
  display: inline-block;
  float: right;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #5faf00;
}
section#main .main-container .candidates .candidates-inf .site-btn-green:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
section#main .main-container .candidates .candidates-inf .site-btn-green .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#main .main-container .candidates .candidates-inf .site-btn-green:hover {
  background: #6ac300;
}
section#main .main-container .candidates .user {
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
section#main .main-container .candidates .add {
  margin-left: 20px;
}
section#main .main-container .candidates .checkbox-block {
  position: absolute;
  z-index: 2;
  right: -9px;
  top: 6px;
}
section#main .main-container .candidates .cont {
  margin-top: 20px;
  z-index: 1;
}
section#main .main-container .candidates .site-btn-green {
  border: none;
}
section#main .main-container .candidates .checkbox-block input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}
section#main .main-container .candidates .checkbox-block input[type=checkbox] {
  display: none;
}
section#main .main-container .candidates .checkbox-block input[type=checkbox] + label:before {
  content: "";
  border: 2px solid #dedede;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
section#main .main-container .candidates .checkbox-block input[type=checkbox]:checked + label:before {
  background-color: #52a700;
  border-color: #52a700;
  color: #fff;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
section#main .main-container .chat {
  margin-top: 20px;
  background-color: #fff;
}
section#main .main-container .chat h3 {
  padding-left: 20px;
  display: inline-block;
}
section#main .main-container .chat span {
  color: #8d8b8b;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 10px;
}
section#main .main-container .chat .line {
  width: 99%;
}
section#main .main-container .chat-one {
  width: 6rem;
  height: 6rem;
}
section#main .main-container .chat-one img {
  margin-left: 20px;
}
section#main .main-container .discuss {
  border: 1px solid #e8edfa;
  position: relative;
  margin-top: 10px;
  height: 490px;
  background-color: #fff;
}
section#main .main-container .discuss .discuss-all {
  padding-left: 20px;
  padding-top: 10px;
}
section#main .main-container .discuss .discuss-all p {
  display: inline-block;
  font-size: 18px;
  color: #333333;
}
section#main .main-container .discuss .discuss-all span {
  font-size: 14px;
  color: #8d8b8b;
  margin-left: 10px;
}
section#main .main-container .discuss .discuss-all .line {
  margin-top: 2px;
  background-color: #e4eafa;
  width: 618px;
  height: 1px;
  display: block;
  margin-left: -20px;
}
section#main .main-container .discuss .discuss-inf {
  width: 620px;
  display: inline-block;
}
section#main .main-container .discuss .discuss-inf .line {
  margin-top: 20px;
  background-color: #e4eafa;
  width: 618px;
  height: 1px;
  display: block;
  margin-left: 0px;
}
section#main .main-container .discuss .discuss-inf .discuss-img {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
section#main .main-container .discuss .discuss-inf .discuss-txt {
  display: inline-block;
  margin-left: 15px;
  position: absolute;
}
section#main .main-container .discuss .discuss-inf .discuss-txt h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333;
}
section#main .main-container .discuss .discuss-inf .discuss-txt span {
  font-size: 14px;
  color: #8d8b8b;
  margin-left: 15px;
}
section#main .main-container .discuss .discuss-inf .discuss-txt p {
  margin-top: -10px;
}
section#main .main-container .discuss .more-add {
  margin-left: 20px;
}
section#main .main-container .discuss .more-add p {
  width: 400px;
}
section#main .main-container .discuss .discuss-write {
  position: relative;
  margin-left: 40px;
  margin-top: 20px;
}
section#main .main-container .discuss .discuss-write .line {
  margin-top: 20px;
  background-color: #e4eafa;
  width: 618px;
  height: 1px;
  display: block;
  margin-left: -40px;
}
section#main .main-container .discuss .discuss-write .discuss-form {
  position: absolute;
  top: 10px;
  left: 80px;
}
section#main .main-container .discuss .discuss-write .discuss-form input {
  outline: none;
  width: 432px;
  padding-right: 20px;
}
section#main .main-container .discuss .discuss-write .discuss-form button {
  border: none;
  height: 40px;
  top: 0px;
  right: -30px;
  position: absolute;
  background-color: #f6f6f6;
}
section#main .main-container .discuss .discuss-write .discuss-form button i {
  font-size: 20px;
  color: #8d8b8b;
}
section#main .main-container .discuss .add-inf {
  margin-top: 15px;
  height: 102px;
  border: 1px solid #e8edfa;
}
section#main .main-container .discuss .your-answer {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
section#main .main-container .discuss .your-answer a {
  cursor: pointer;
  border: 1px solid #e8edfa;
  padding: 9px 22px;
  font-size: 14px;
  color: #8d8b8b;
  border-radius: 100px;
  background-color: #f6f7f9;
}
section#main .main-container .discuss .your-answer a i {
  cursor: pointer;
  font-size: 24px;
}
section#main .main-container .discuss .show-more {
  border: 1px solid #e8edfa;
  background-color: #fff;
  height: 50px;
  text-align: center;
}
section#main .main-container .discuss .show-more a {
  display: block;
  padding-top: 13px;
  color: #5faf00;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}
section#main .main-container .discuss .write-more {
  padding-left: 20px;
  margin-top: 25px;
  height: 149px;
  background-color: #fff;
  border: 1px solid #e8edfa;
}
section#main .main-container .discuss .write-more h3 {
  font-size: 18px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
section#main .main-container .discuss .new {
  margin-top: 8px;
  margin-left: 0px;
}
section#main .main-container .discuss .new form {
  margin-top: 5px;
}
section#main .main-container .third-column {
  margin-left: 21px;
  width: 30rem;
}
section#main .main-container .third-column .poster {
  width: 30rem;
  height: 25rem;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  margin-top: 20px;
}
section#main .main-container .third-column .pos {
  margin-top: 2px;
}
.four-column {
  display: none;
}
.four-column .poster {
  width: 30rem;
  height: 25rem;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  margin-top: 20px;
}
/*==========  Desktop First Method  ==========*/
@media (min-width: 992px) and (max-width: 1099px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 83%;
  }
  section#main .second-column {
    width: 65% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 40vw !important;
  }
  section#main .second-column .candidates-inf .line {
    width: 104% !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 86%;
  }
  section#main .second-column {
    width: 70% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 40vw !important;
  }
  section#main .second-column .candidates-inf .line {
    width: 104% !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .line {
    width: 100% !important;
  }
  section#main .main-container {
    width: 100%;
  }
  section#main .main-h1 {
    width: 87%;
  }
  section#main .second-column {
    width: 72% !important;
  }
  section#main .second-column .discuss-inf {
    width: 100% !important;
  }
  section#main .second-column .discuss-form input {
    width: 50vw !important;
  }
  section#main .second-column .discuss-all .line {
    width: 102% !important;
  }
  section#main .second-column .discuss-write .line {
    width: 105% !important;
  }
  section#main .third-column {
    display: none;
  }
  .four-column {
    justify-content: center;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
  }
  .four-column .poster {
    margin: 10px;
  }
}
html[lang="he"] body {
  direction: rtl;
}
body,
div,
td {
  font: 14px 'Open Sans';
  color: #333333;
}
div,
input,
textarea,
select,
a {
  box-sizing: border-box;
}
a {
  transition: all 0.1s;
}
input,
textarea,
select {
  border-radius: 4px;
  border: 0;
  background: #f6f6f6;
  padding: 10px;
}
input:not([type="radio"], [type="checkbox"]),
select {
  height: 40px;
}
textarea {
  resize: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.site-btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}
.site-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.site-btn .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
html[lang="he"] .site-btn .fa,
html[lang="he"] .site-btn-red .fa,
html[lang="he"] .site-btn-green .fa,
html[lang="he"] .site-btn-yellow .fa,
html[lang="he"] .site-btn-white .fa,
html[lang="he"] .site-btn-o .fa,
html[lang="he"] .site-btn-red-o .fa,
html[lang="he"] .site-btn-green-o .fa,
html[lang="he"] .site-btn-yellow-o .fa,
html[lang="he"] .site-btn-white-o .fa {
  margin-right: 0;
  margin-left: 15px;
}
html[lang="he"] .share {
  margin-right: -5px;
}
html[lang="he"] .share img {
  margin-left: 5px;
}
html[lang="he"] .second-column {
  margin-left: 10px;
}
html[lang="he"] .third-column {
  margin-right: -10px;
}
html[lang="he"] .first-column {
  margin-left: 10px;
}
html[lang="he"] .refregerator {
  padding-right: 20px;
}
html[lang="he"] .line {
  margin-right: -10px;
}
html[lang="he"] .slider p {
  margin-right: 35rem;
}
html[lang="he"] .candidates-inf p {
  margin-right: 35rem;
}
html[lang="he"] .discuss-all .speak {
  margin-right: 20px;
}
html[lang="he"] .discuss-all span {
  margin-top: -3rem;
  margin-right: 35rem;
}
html[lang="he"] .discuss-all .line {
  margin-right: 0rem;
}
html[lang="he"] .discuss-inf img {
  margin-right: 20px;
}
html[lang="he"] .write-more h3 {
  margin-right: 20px;
}
html[lang="he"] .discuss-write img {
  margin-right: 40px;
}
html[lang="he"] .discuss-write input {
  margin-left: -70px;
}
@media (min-width: 922px) and (max-width: 1099px) {
  html[lang="he"] input {
    margin-left: -15px !important;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  html[lang="he"] .main-container {
    width: 102% !important;
  }
  html[lang="he"] .discuss-write img {
    margin-right: 40px;
  }
  html[lang="he"] .discuss-write input {
    margin-left: 70px !important;
  }
  html[lang="he"] .discuss-all span {
    margin-top: -3rem;
    margin-right: 50rem;
  }
  html[lang="he"] .candidates-inf p {
    margin-right: 50rem;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  html[lang="he"] .slider p {
    margin-right: 55rem;
  }
  html[lang="he"] .candidates-inf p {
    margin-right: 55rem;
  }
  html[lang="he"] .discuss-all .speak {
    margin-right: 20px;
  }
  html[lang="he"] .discuss-all span {
    margin-top: -3rem;
    margin-right: 55rem;
  }
  html[lang="he"] .discuss-all .line {
    margin-right: 0rem;
  }
  html[lang="he"] .discuss-write img {
    margin-right: 40px;
  }
  html[lang="he"] .discuss-write input {
    margin-left: -60px;
  }
}
.site-btn-green {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #5faf00;
}
.site-btn-green:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.site-btn-green .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-btn-green:hover {
  background: #6ac300;
}
.site-btn-red {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #e83e00;
}
.site-btn-red:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.site-btn-red .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-btn-red:hover {
  background: #ff4602;
}
.site-btn-yellow {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #f0a029;
}
.site-btn-yellow:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.site-btn-yellow .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-btn-yellow:hover {
  background: #f2ab41;
}
.site-btn-white {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  background-color: #5faf00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  background: #fff;
  color: #333;
}
.site-btn-white:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.site-btn-white .fa {
  margin-right: 15px;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-btn-white:hover {
  background: #e2e2e2;
}
.site-btn-o {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.1s;
  background: #fff;
  border: 2px solid transparent;
}
.site-btn-o:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.site-btn-green-o {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.1s;
  background: #fff;
  border: 2px solid transparent;
  border-color: #5faf00;
  color: #5faf00;
}
.site-btn-green-o:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.site-btn-green-o:hover {
  background: #5faf00;
  color: #fff;
}
.site-btn-red-o {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.1s;
  background: #fff;
  border: 2px solid transparent;
  border-color: #e83e00;
  color: #e83e00;
}
.site-btn-red-o:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.site-btn-red-o:hover {
  background: #e83e00;
  color: #fff;
}
.site-btn-yellow-o {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  padding: 6px 20px 8px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.1s;
  background: #fff;
  border: 2px solid transparent;
  border-color: #f0a029;
  color: #f0a029;
}
.site-btn-yellow-o:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.site-btn-yellow-o:hover {
  background: #f0a029;
  color: #fff;
}
.flexslider {
  margin: 0;
  bottom: 0;
  border-radius: 0;
}
.home-heading {
  margin: 0 0 40px;
  font-size: 30px;
  color: #333333;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
}
.user-img {
  overflow: hidden;
  position: relative;
}
.user-img-border {
  border-radius: 50%;
  padding: 5%;
  background: #ccc;
}
.user-img-border:hover {
  background-color: #b3b3b3;
}
.user-img-border:active {
  background-color: #ccc;
}
.user-verify-social {
  background-color: #f0a029;
}
.user-verify-social:hover {
  background-color: #d7870f;
}
.user-verify-social:active {
  background-color: #f0a029;
}
.user-verify-id {
  background-color: #5faf00;
}
.user-verify-id:hover {
  background-color: #437c00;
}
.user-verify-id:active {
  background-color: #5faf00;
}
.user-img-image {
  background: no-repeat center / cover;
  padding-top: 100%;
  border-radius: 50%;
  display: block;
}
.user-verify {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  background: #999;
  border-radius: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 3px solid #fff;
}
.user-verify-id {
  background: #5faf00;
}
.user-img-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background: no-repeat center / cover;
  border-radius: 50px;
}
.user-img-icon-admin {
  background-image: url(/favicon.png);
  background-color: #fff;
  border: 2px solid #fff;
}
.site-green {
  color: #5faf00;
  font-size: inherit;
}
.star-rating i {
  color: #f0a029;
  font-size: 16px;
}
.skill-item {
  border-radius: 4px;
  border: solid 1px #333;
  padding: 4px 7px;
  margin: 5px;
  font-size: 12px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-block .container {
  padding: 60px 0;
}
.skill-form {
  height: 400px;
  overflow: auto;
}
.skill-form-lev1:not(:last-child) .skill-form-lev1-btn:not(.active) {
  border-bottom: 0;
}
.skill-form-lev1-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  border: 2px solid #e8edfa;
  min-height: 44px;
  padding: 10px;
  transition-duration: 0.025s;
}
.skill-form-lev1-btn:hover,
.skill-form-lev1-btn.active {
  background: #e8edfa;
}
.skill-form-lev1-btn:active {
  background: #d3ddf5;
}
.skill-form-lev1-btn:focus {
  outline: none;
}
.skill-form-lev1-btn > .fa {
  color: #5faf00;
  font-size: 22px;
}
.skill-form-icon {
  width: 40px;
  height: 25px;
  background: no-repeat center / contain;
}
.skill-form-title {
  margin: 0 15px;
  flex: 1;
}
.skill-form-lev2 {
  display: none;
  padding: 15px 0;
}
.skill-form-lev2 .flex-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.skill-form-lev2 .flex-wrap > * {
  width: 48%;
}
.skill-form-lev2 strong {
  display: block;
  margin: 20px 0;
}
.skill-form-lev2 strong:first-child {
  margin-top: 0;
}
.skill-form-lev2 label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.skill-form-lev2 label + label:not(.skill-form-lev3) {
  margin-top: 10px;
}
.skill-form-lev2 label input {
  margin-right: 10px;
  margin-top: 1px;
}
.skill-form-lev2 label input:focus {
  outline: none;
}
.skill-form-lev3 {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 4px 0;
}
.skill-form-lev3:hover {
  background: #dddddd;
}
html[lang="he"] .skill-form-lev2 label input {
  margin-right: 0;
  margin-left: 10px;
}
.breadcrumbs {
  font-size: 16px;
}
.breadcrumbs > * {
  vertical-align: middle;
}
.breadcrumbs a {
  color: #8d8b8b;
}
.breadcrumbs-divider {
  margin: 0 5px;
  font-size: 10px;
}
.breadcrumbs-current {
  font-weight: 600;
}
.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333333;
  min-width: 29px;
  min-height: 29px;
  padding: 3px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: none;
}
.pagination a.active {
  background: #5faf00;
  color: #fff;
}
.pagination a:hover {
  border-color: #5faf00;
}
.pagination a:active {
  background: #e9e9e9;
}
/*===============Slick Slider=============================== */
/* Slider */
.slick-loading .slick-list {
  background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 45%;
  z-index: 1;
  margin-top: -15px;
  display: block;
}
.slick-prev {
  left: -20px;
  background: url(../img/icon/arrow-left.svg) no-repeat;
  background-position: center;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: none;
}
.slick-next {
  right: 0px;
  background: url(../img/icon/arrow-right.svg) no-repeat;
  background-position: center;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: none;
}
.slick-arrow {
  border-radius: 50px;
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
